.idea
.vscode

.env.*
.env

*.log
*.cache

/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/config/token.json
/config/credentials.json
/config/rest.json
/config/rest.tokens.json

/config/entrypoint.sh
/config/php.ini
/config/php-fpm.conf

/config/sftp_config.json
/propose/
/.claude/
/.junie/
test_auth_prod.php
/examples/
!/.env.example

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
